<h1>{{singleCar.make}}</h1>

<div class="singleImg">
    {{#if singleCar.carPicture}}
    <img src="{{singleCar.carPicture}}" />
    {{/if}}
</div>


<div class="midContainer">
    <p>Model: {{singleCar.model}}</p>
    <p>Year: {{singleCar.year}}</p>
    <p>Transmission: {{singleCar.transmission}}</p>
    <p>{{singleCar.description}}</p>
</div>

<div class="deleteUpdateDiv">
    <button class="allBtns"><a href="/car/edit/{{singleCar._id}}">Update</a></button>

    <form action="/car/{{singleCar._id}}?_method=DELETE" method="POST">
        <input type="submit" value="Delete" class="allBtns" />
    </form>
</div>


<button class="backCarP"><a href="/type/{{singleCar.typeId}}">Back</a></button>