<h1>{{updateSingleCar.make}}</h1>

<form action="/car/{{updateSingleCar._id}}?_method=PUT" method="POST" class="allForms">
    {{!-- <input type="text" class="inputTxtBox" placeholder="Make" name="make" value="{{updateSingleCar.make}}" /> --}}
    <select name="make" class="inputTxtBox">
        <option value="{{updateSingleCar.make}}">{{updateSingleCar.make}}</option>
        <option value="Rolls-Royce">Rolls-Royce</option>
        <option value="Bentley">Bentley</option>
        <option value="Mclaren">Mclaren</option>
        <option value="Koenigsegg">Koenigsegg</option>
        <option value="Porsche">Porsche</option>
        <option value="Lamborghini">Lamborghini</option>
        <option value="Mercedes">Mercedes</option>
        <option value="Land Rover">Land Rover</option>
        <option value="Jeep">Jeep</option>
    </select>
    {{!-- <input type="text" class="inputTxtBox" placeholder="model" name="model" value="{{updateSingleCar.model}}" /> --}}
    <select name="model" class="inputTxtBox">
        <option value="{{updateSingleCar.model}}">{{updateSingleCar.model}}</option>
        <option value="Phantom">Phantom</option>
        <option value="Wraith">Wraith</option>
        <option value="Mulsanne">Mulsanne</option>
        <option value="Continental GT">Continental GT</option>
        <option value="Senna">Senna</option>
        <option value="P1">P1</option>
        <option value="Jesko">Jesko</option>
        <option value="Regera">Regera</option>
        <option value="911 GT2 RS">911 GT2 RS</option>
        <option value="911 GT3 RS">911 GT3 RS</option>
        <option value="Huracan">Huracan</option>
        <option value="Aventador">Aventador</option>
        <option value="4x4 Squared">4x4 Squared</option>
        <option value="G63 6x6 ">G63 6x6</option>
        <option value="Defender">Defender</option>
        <option value="Wrangler">Wrangler</option>
    </select>
    {{!-- <input type="Number" class="inputTxtBox" placeholder="Year" name="year" value="{{updateSingleCar.year}}" /> --}}
    <select name="year" class="inputTxtBox">
        <option value="{{updateSingleCar.year}}">{{updateSingleCar.year}}</option>
        <option value="2000">2000</option>
        <option value="2001">2001</option>
        <option value="2002">2002</option>
        <option value="2003">2003</option>
        <option value="2004">2004</option>
        <option value="2005">2005</option>
        <option value="2006">2006</option>
        <option value="2007">2007</option>
        <option value="2008">2008</option>
        <option value="2009">2009</option>
        <option value="2010">2010</option>
        <option value="2011">2011</option>
        <option value="2012">2012</option>
        <option value="2013">2013</option>
        <option value="2014">2014</option>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
    </select>
    {{!-- <input type="text" placeholder="Transmission" name="transmission" value="{{updateSingleCar.transmission}}"/> --}}
    <select name="transmission" class="inputTxtBox">
        <option value="{{updateSingleCar.transmission}}">{{updateSingleCar.transmission}}</option>
        <option value="Automatic">Automatic</option>
        <option value="Manual">Manual</option>
    </select>
    <input type="text" class="inputTxtBox" placeholder="Image URL" name="carPicture"
        value="{{updateSingleCar.carPicture}}" />
    <input type="text" class="inputTxtBox" placeholder="Description" name="description"
        value="{{updateSingleCar.description}}" />
    <input type="submit" value="Save" class="allBtns" />
</form>
{{!-- 
<button class="allBtns"><a href="/car">Home</a></button> --}}

<button onclick="goBack()" class="allBtns">Back</button>

<script>
    function goBack() {
        window.history.back();
    }
</script>