<h1>{{updateSingleEvent.name}}</h1>

<form action="/event/{{updateSingleEvent._id}}?_method=PUT" method="POST">
    <input type="text" placeholder="Name" name="name" value="{{updateSingleEvent.name}}"/>
    <input type="Date" placeholder="Date" name="date" value="{{updateSingleEvent.date}}"/>
    <input type="text" placeholder="Location" name="location" value="{{updateSingleEvent.location}}"/>
    <input type="submit" value="Save" class="allBtns"/>
</form>

{{!-- <button class="allBtns"><a href="/event">Home</a></button> --}}

<button onclick="goBack()" class="allBtns">Back</button>

<script>
    function goBack() {
        window.history.back();
    }
</script>