<h1>{{updateSingleEvent.name}}</h1>

<form action="/event/{{updateSingleEvent._id}}?_method=PUT" method="POST" class="allForms">
    <input type="text" class="inputTxtBox" placeholder="Name" name="name" value="{{updateSingleEvent.name}}"/>
    <input type="date" class="inputTxtBox" name="date" value="{{updateSingleEvent.date}}"/>
    <input type="text" class="inputTxtBox" placeholder="Location" name="location" value="{{updateSingleEvent.location}}"/>
    <input type="text" class="inputTxtBox" placeholder="Image URL" name="eventPicture" value="{{updateSingleEvent.eventPicture}}"/>
    <input type="submit" value="Save" class="allBtns"/>
</form>

{{!-- <button class="allBtns"><a href="/event">Home</a></button> --}}

<button onclick="goBack()" class="allBtns">Back</button>

<script>
    function goBack() {
        window.history.back();
    }
</script>